/* Sociales - Global */
div.sociales-wrapper {
	margin-bottom: 15px;

	> span {
		margin-bottom: 0;
		margin-right: 10px;
	}

	.baumchild_social {
		display: inline-block;
		
		a {
			display: inline-block;
			text-decoration: none;

			i {
				text-align: center;
				background-color: $color-main;
				width: 40px;
				height: 40px;
				border-radius: 100%;
				display: block;
				text-decoration: none;
				font-size: 18px;
				line-height: 40px;
				padding: 0;
				color: $white;
				@include transition($transition * 2.5);
			}

			&:hover, &:active, &:focus {
				text-decoration: none;

				i {
					color: $color-main;
					background-color: $light;
				}
			}
		}
	}   
}

/* Baum Social Element - Visual Composer */
.sociales-wrapper {
	text-align: center;
	
	> span {
		display: inline-block;
		margin-bottom: 10px;
		vertical-align: middle;
	}
}

.baumchild_social {
	.label-left {
		margin-right: 5px;
	}

	.label-right {
		margin-left: 5px;
	}
}

.entry-content {
	[class*="_social"] {
		&:hover {
			.fa {
				transform: scale(1.09);
			}
		}
		.fa {
			@include em(24px);
			@include transition();
			display: inline-block;
			vertical-align: middle;

			&[class*="facebook"] {
				color: $facebook;
			}
			&[class*="instagram"] {
				color: $instagram;
			}
			&[class*="twitter"] {
				color: $twitter;
			}
			&[class*="whatsapp"] {
				color: $whatsapp;
			}
		}
	}
}